.ctn-footer {
  width: 100%;
  background-color: var(--dark-BG);
  color: var(--txt-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctn-footer a {
  font-size: 15px;
  color: var(--txt-gray);
  text-decoration: none;
  font-weight: bold;
}

.ctn-footer a:hover {
  transition: ease-in-out 0.2s;
  color: var(--red-style);
  transform: scale(1.05);
}

.ctn-footer h1 {
  color: white;
}
.ctn-footer p {
  font-weight: bold;
}

.ctn-footer h2 {
  color: white;
}
.main-box {
  display: flex;
  justify-content: space-between;
  height: 90%;
  width: 80%;
  max-width: 1250px;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.box-member {
  display: flex;
  flex-direction: column;
  width: min-content;
  max-height: 260px;
}

.box-title {
  margin-bottom: 3rem;
  background-color: rgba(27, 27, 27, 255);
}
.display-logo {
  display: flex;
  height: 2rem;
  gap: 0.5rem;
  background-color: rgba(27, 27, 27, 255);
}

.display-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.display-icon img {
  filter: invert(1);
  background-color: transparent;
  transform: scale(0.8);
  opacity: 0.65;
}

.box-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-box {
  display: flex;
  height: 5rem;
  gap: 1rem;
}

.news-box p {
  font-size: 80%;
}

.display-img {
  height: 5rem;
  width: 5rem;
}

.display-img img {
  display: inline-block;
  height: 100%;
}

.news-box-txt {
  overflow: hidden;
}

.secondary-box {
  margin-bottom: 3rem;
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.social-buttons {
  display: flex;
  gap: 1rem;
}

.B1 {
  flex-grow: 0.25;
}

.B2 {
  flex-grow: 0.125;
}

.B3 {
  flex-grow: 0.06;
}

.social-btn {
  filter: invert(1);
  background-color: transparent;
  opacity: 0.65;
}

.map-box{
  width: 100%;
  height: 160px;
}

@media (max-width: 376px) {
  .main-box {
    flex-direction: column;
    width: 90%;
    justify-content: left;
    gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem
  }
  .dropdown {
    width: 2rem;
    height: 2rem;
  }

  .box-title {
    margin-bottom: 1rem;
  }

  .box-member {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
  }

  .secondary-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
