.NavBar-container {
  width: 100vw;
  height: 3rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
  transition: 0.25s ease-in-out;
  box-sizing: border-box;
  max-height: 3rem;
}

.NavBar-container h4{
  margin: 0;
  padding: 0;
  text-align: center;
}

.dropdown, .sidepanel{
  display: none;
}

.NavBar-container a,
.NavBar-container a:visited {
  transition: ease-in-out 0.3s;
  text-decoration: none;
  color: black;
}

.NavBar-container a:hover {
  transition: ease-in-out 0.3s;
  color: var(--red-style);
  transform: scale(1.05);
}

.NavBar-container h2 {
  font-size: 18px;
  font-weight: 800;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 80%;
  height: 2rem;
  box-sizing: border-box;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
}

.nav-section img {
  height: 2rem;
}

/* .nav-section:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
} */

.mobile__NavBtn{
  display: none;
}

.mobile__NavBtn img{
  height: 2rem;
}

.dropdown {
  position: relative;
  z-index: 1;
  transform: perspective(1000px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-icon {
  height: 2rem;
  width: 8rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  gap: 0.5rem;
}

.square-icon:hover {
  background-color: var(--NavBar-menu);
}

.dropdown img {
  scale: 0.8;
}

.dropdown-menu .item-ctn {
  /* align-items: center; */
  justify-content: left;
  transition: all 0.2s ease-in-out;
  padding: 0.25rem;
}

.dropdown-menu .item-ctn:hover {
  background-color: var(--red-style);
  color: white;
}

.dropdown-menu {
  background: #dcdcdc;
  list-style-type: none;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  position: absolute;
  text-align: center;
  top: -8rem;
  width: 7rem;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(28, 28, 28, 0.25);
}

.square-icon:hover .dropdown-menu, .dropdown-menu:hover {
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.item-ctn {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(28, 28, 28, 0.35);
  margin-bottom: 0.5rem;
}

.item-ctn:hover {
  background-color: rgb(230, 230, 230);
  color: var(--red-style);
}

.accesibility {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
  align-items: center;
  justify-content: center;
}

.accesibility select {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--NavBar-btn);
  max-height: 2rem;
}

.accesibility option {
  border: none;
  font-weight: bold;
}

.user-related {
  display: flex;
  gap: 2rem;
}

.nav-desktop {
  display: flex;
  gap: 2rem;
}

.mobile {
  display: none;
}

.userManager{
  display: flex;
  /* background-color: var(--NavBar-btn); */
  height: 3rem;
  top: 0;
  right: 0;
}

.userName{
  font-weight: 700;
  color: gray;
}

@media (max-width: 720px) {
  .NavBar {
    box-sizing: border-box;
    width: 100%;
    max-width: 90%;
    justify-content: space-between;
  }

.mobile__NavBtn{
  display: flex;
}

  .userManager{
    display: none;
  }

  .sidepanel {
    display: flex;
    flex-direction: column;
  }
  .user-related {
    gap: 0;
  }

  .nav-desktop,
  .accesibility,
  .dropdown:nth-child(1) {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .sidepanel {
    box-sizing: border-box;
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: var(--NavBar-menu);
    overflow-x: hidden;
    transition: 0.25s;
  }
  

  .sidepanel a {
    padding: 8px 8px 8px 16px;
    display: block;
    transition: 0.3s;
  }

  .closebtn {
    width: 100%;
    text-align: right;
    top: 0;
    background-color: var(--red-style);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5rem;
  }

  .closebtn:hover{
    background-color: var(--red-style-darker);
    color: black;
  }

  .item-ctn select {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }

  select:hover {
    color: var(--red-style);
  }

  .acc-ctn-lbl {
    width: 8rem;
    text-align: right;
  }
  .item-ctn:hover > .acc-ctn-lbl {
    color: black;
  }

  .mobile-menu-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
    margin: 0.4rem;
    width: 100%;
    height: 2rem;
  }
  
}
