.NavBar-container {
  width: 100%;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  z-index: 99;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 80%;
  height: 2rem;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-section img {
  height: 2rem;
}

/* .nav-section:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
} */

.dropdown {
  background: var(--NavBar-btn);
  color: black;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1;
  transform: perspective(1000px);
 }

 .dropdown img{
  scale: 0.8
}

.dropdown-menu {
  background: white;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  left: -2rem;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
  width: 6rem;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 6rem;
  -webkit-transition: .2s linear;
  transition:  .2s linear;
}
