.StarRating{
  position: relative;
  height: 100%;
}

.star-painter {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-color: rgb(255, 208, 0);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

