.StarRating-clasificacion {
  display: flex;
}

.StarRating-clasificacion #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.StarRating-clasificacion #form p {
  text-align: center;
}

.StarRating-clasificacion #form label {
  font-size: 20px;
}

.StarRating-clasificacion input[type="radio"] {
  display: none;
}

.StarRating-clasificacion label {
  color: grey;
}

.StarRating-clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.StarRating-clasificacion label:hover,
.StarRating-clasificacion label:hover ~ .clasificacion label {
  color: orange;
}

.StarRating-clasificacion input[type="radio"]:checked ~ .StarRating-clasificacion label {
  color: orange;
} 