.StarRating {
  top: 0;
  left: 0;
  position: relative;
  height: 100%;
  font-weight: 300;
}

.StarRating h6 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.star-painter {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.201);
  background-color: rgb(255, 208, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
