.up {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -10deg;
  transition: ease-in-out 0.4s;
  opacity: 0.8;
}

.up img {
  filter: invert(1);
  scale: 1.4;
}

.up:hover {
  transition: ease-in-out 0.4s;
  rotate: 360deg;
  transform: scale(1.1);
  opacity: 1;
}

@media (max-width: 376px) {
  .up {
    bottom: 1rem;
    right: 1rem;
  }
}