.Login-ctn {
  width: 100%;

  background-color: var(--Main-BG);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.Login-ctn input {
  font-size: 16px;
  color: rgb(67, 67, 67);
}

.Login-ctn ::placeholder {
  color: rgb(160, 160, 160);
}

.Login-ctn a {
  text-decoration: none;
  color: var(--red-style);
  text-align: right;
  font-size: 16px;
}

.Login-ctn input {
  border-radius: 0;
  border: none;
  outline: none;
}

.error {
  width: 100%;
}

.Login-card {
  box-sizing: inherit;
  width: 90%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

.Login-card p {
  font-size: 12px;
  font-weight: 700;
  color: var(--txt-gray);
}

.Login-ctn label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  color: var(--txt-gray);
}

.Login-card input {
  box-sizing: border-box;
  width: 99%;
}

.Login-special-label {
  text-align: right;
  width: 100%;
  flex-direction: row;
}

.Login-special-btn {
  width: 100%;
  align-self: flex-end;
  background-color: transparent;
  color: var(--red-style);
  box-shadow: none;
  text-align: right;
}

.Login-special-btn:hover {
  background-color: transparent;
  color: var(--red-style);
}

.Login-secret-section {
  height: 0px;
  overflow: hidden;
  transition: height ease-in-out 0.5s;
  display: flex;
  text-align: right;
}

.Login-secret-section-active {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  height: 80px;
  transition: height ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}

.err__display__secret {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: right;
}

.error {
  text-align: right;
}

.error__email {
  padding-right: 2rem;
}

.Login-ctn-btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: 20rem;
  margin-top: 1rem;
}

.Signin-ctn-btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: 20rem;
  background-color: transparent;
  border: 3px solid var(--red-style);
  color: var(--red-style);
}

.Signin-ctn-btn:hover {
  background-color: transparent;
}

.Login-formbox {
  display: flex;
  align-items: center;
  color: var(--txt-gray);
  gap: 0.5rem;
  border-bottom: 3px solid rgba(128, 128, 128, 0.352);
  padding-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

.recovery-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error__display {
  width: 100%;
  align-items: right;
  justify-content: right;
  color: var(--red-style);
  font-size: 75%;
  font-weight: 700;
  font-style: italic;
  text-align: right;
}

.form__line--login{
  width: 100%;
  margin-bottom: 1rem;
}

.Login-formbox:focus-within {
  border-color: var(--red-style);
  transition: 0.2s ease-in-out;
}

.email__recover {
  padding: 0.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .Login-special-label {
    font-weight: 700;
    color: var(--txt-gray);
    font-size: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Login-secret-section input,
  .Login-secret-section-active input {
    width: 98%;

  }

  .Login-secret-section-active {
    height: 100px;
  }
}
