.Dashboard-ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--Main-BG);
  align-items: center;
  padding: 4rem 0rem;
  box-sizing: border-box;
  font-weight: 500;
}

.Dashboard-ctn input {
  height: 1.5rem;
  width: 100%;
}

.dashboard__ctn {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard__ctn-info {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  max-width: 30%;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-height: 500px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.dashboard__ctn-info h1 {
  font-weight: 800;
  color: rgb(43, 43, 43);
}

.dashboard__ctn-info p {
  font-weight: 600;
  color: var(--txt-gray);
  font-size: 18px;
}

.dashboard__ctn-info-prof {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(239, 235, 235, 0.712);
  padding: 2rem 0;
  gap: 1rem;
  box-sizing: border-box;
 
}

.dashboard__ctn-info-img {
  display: flex;
  max-width: 180px;
  min-width: 180px;
  max-height: 180px;
  min-height: 180px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.profile__img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.dashboard__ctn-info-img label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: var(--red-style);
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 120%;
}

.dashboard__ctn-info-select {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;

}

.dashboard__ctn-info-select button {
  width: 100%;
  height: 4rem;
  background-color: white;
  color: black;
  box-shadow: 3px 3px 6px rgba(14, 14, 14, 0);
  font-size: 18px;
  text-align: left;
  padding-left: 2rem;
}

.dashboard__ctn-info-select button:focus {
  border-right: 5px solid var(--red-style);
}

.dashboard__ctn-edit {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 68%;
  background-color: white;
  padding: 2rem;
  min-height: 500px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.dashboard__ctn-edit1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.dashboard__ctn-info-edit1-title {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.dashboard__Btng {
  /* flex-basis: 30%; */
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.dashboard__Btng button {
  height: 2rem;
}

.dashboard-edit-btn {
  background-color: rgba(242, 237, 237, 0.521);
  color: var(--red-style);
  width: 4rem;
  height: 1.5rem;
  font-weight: 500;
  margin-left: 2rem;
}

.dashboard-edit-btn:hover {
  transition: 0.2 ease-in-out;
  background-color: var(--red-style);
  color: white;
}

.dashboard__ctn-info-text h1 {
  font-size: 25px;
}

.dashboard__ctn-info-text p {
  color: gray;
  font-size: 14px;
}

.email__editprofile {
  opacity: 0.6;
  font-style: italic;
  font-size: 80%;
}

.emailDashboard {
  font-weight: 700;
  font-size: 110%;
}

.dashboard__ctn-info-text h3 {
  color: gray;
}

.select-profile p {
  text-align: start;
  margin-left: 15px;
}

.profile-edit {
  display: flex;
  border: 1px solid;
  border-color: gray;
  justify-items: stretch;
  padding-left: 20px;
}

.title {
  display: flex;
  flex-direction: row;
}

.Dashboard-ctn .dashboard__form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Dashboard-ctn label {
  /* width: 8rem; ajusta el ancho del label según tus necesidades */
  margin-right: 10px;
  text-align: left;
  font-weight: 700;
}

.dashboard__ctn-info-edit1-name {
  width: 100%;
  /* background-color: red; */
  display: flex;
}

.dashboard__ctn-info-edit1-name label {
  flex-basis: 30%;
  text-align: right;
}

.dashboard__ctn-info-edit1-name input {
  width: 100%;
}

.dashboard__ctn-info-edit1-name select {
  flex-basis: 100%;
  height: 2rem;
}
.Dashboard-ctn-isDisabled {
  /* border-width: 1px;
    border-color: transparent;
    outline: none;
    height: 1.5rem; */
  transition: ease-in-out 0.15s;
  border: 1px solid transparent;

  height: 1.5rem;
}

.Dashboard-ctn-isNotDisabled {
  transition: ease-in-out 0.15s;
  border-radius: 3px;
  border: 1px solid #ccc;

  height: 1.5rem;
}

@media (max-width: 720px) {
  .dashboard__ctn {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .dashboard__ctn-info {
    min-width: 100%;
    flex-basis: 100%;
  }
  .dashboard__ctn input {
    width: 100%;
  }
}

.Dashboard-is-active {
  border-right: 5px solid var(--red-style);
}

.passwordCtn{
  /* max-width: 8rem; */
}

.dashboard__ctn--Bookings {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 65%;
  background-color: white;
}

.dashboard__ctn--ManageHotels {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 65%;
  background-color: white;
}

.reservationDisplay{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap:0.5rem;
}

.pass__changer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.dashboard__ctn__password{
  display: flex;
  width: 60%;
  align-items: center;
  gap: 1rem;
}

.error-creatorUser{
    color: red;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 700;
    padding-right: 0.5rem;
    box-sizing: border-box;
    float: right;
    margin-top: -5px;
    margin-bottom: 5px;
}