
.container {
    margin: 0;
    width: 90vw;
    display: grid;
    grid-template-areas:
    "a b b";
    grid-gap: 15px;
    font-family: 'Nunito', sans-serif;
    
    
}
.profile {
    grid-area: a;
    border: 1px solid;
    border-color: gray;
    text-align: center;
}
.info-profile h1 {
    font-size: 25px;
}
.info-profile h2 {
    color: gray;
    font-size: 20px;
}
.info-profile h3 {
    color: gray;
}

.select-profile p {
    text-align: start;
    margin-left: 15px;
}
.profile-edit {
    grid-area: b;
    border: 1px solid;
    border-color: gray;
    justify-items: stretch;
    padding-left: 20px;
    
}
.title {
    display: flex;
    flex-direction: row;
}
._name label {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
}
