.NewsLetter-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.NewsLetter-table {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card-ctn-nl {
  display: flex;

  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.card-ctn-nl-img-container {
  background-color: azure;
  width: 200px;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.date-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: var(--red-style);
  left: 5%;
  top: 5%;
  padding: 5px;
  color: white;
  font-weight: 800;
  padding: 0.25rem 0.5rem;
  scale: 0.9;
}
.date-review h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.date-review p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.card-ctn-nl-img-container img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.card-ctn-nl-txt-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 250px;
}

.reviewer {
  color: var(--red-style);
  font-weight: 700;
  font-size: 12px;
}

.review {
  font-weight: 800;
  font-size: 18px;
}

.sub {
  font-weight: 600;
  color: gray;
  font-size: 11px;
}

.more {
  padding: 0.5rem 0.5rem;
  width: 120px;
  border-radius: 5px;
}

.subscribe-form {
  width: 80%;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-call-txt {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 2rem;
  box-shadow: 24px 0px 0px -20px var(--red-style);
  /* border-right: 5px solid var(--red-style); */
}

.call-txt-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.call-txt-title h1 {
  font-size: 36px;
  font-weight: 900;
}

.call-txt-title-paragraph {
  font-weight: 700;
  color: var(--txt-gray);
}

.our-news p {
  background-color: var(--red-style);
  border-radius: 1rem;
  font-size: 12px;
  color: white;
  font-weight: 700;
  padding: 2px 10px;
}

.form-input {
  margin-left: 2rem;
  width: 50%;
  height: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(212, 108, 108, 0.1);
}

.input-mail {
  flex-grow: 1;
  border: none;
}

.sub-btn {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
}
@media (max-width: 1000px) {
  .NewsLetter-table {
    width: 90%;
    justify-content: center;
  }
  .card-ctn-nl:nth-child(2) {
    display: none;
  }
}

@media (max-width: 376px) {
  .NewsLetter-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .NewsLetter-table {
    width: 90%;
  }

  .card-ctn-nl {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .card-ctn-nl-img-container {
    width: 100%;
  }

  .card-ctn-nl-txt-container {
    width: 90%;
    margin: 1.25rem;
    gap: 0.5rem;
  }

  .subscribe-form {
    width: 90%;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }

  .sub-call-txt {
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding-right: 0;
  }

  .sub-call-txt h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  .sub-call-txt p {
    font-size: 14px;
  }

  .our-news {
    display: none;
  }

  .form-input {
    margin-top: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
  }
}
