.check__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: right;
	background-color: white;
	width: 100%;
	gap: 1rem;
	padding-bottom: 1rem;
	box-shadow: 3px 3px 6px rgba(14, 14, 14, 0.159);
}

.check__card-map {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	width: 90%;
	margin-top: 5%;
}

.check__card-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 90%;
}

.check__card-rate {
	display: flex;
	flex-direction: column;
}

.check__card-rate h4 {
	font-size: 16px;
	line-height: 0;
}

.rate-description {
	display: flex;
	gap: 0.5rem;
	font-size: 12px;
	font-weight: 700;
}

.check__card-price {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.check__card-price p {
	color: var(--txt-gray);
	font-size: 12px;
	font-weight: 700;
}

.check__card-price h2 {
	font-size: 18px;
	margin: 0;
	text-decoration: line-through;
}

.check__card-price h1 {
	font-size: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.check__card-form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 90%;
	gap: 0.5rem;
}

.check__card-form input {
	width: 100%;
	height: 2rem;
	border-radius: 0;
	border: 2px solid rgba(128, 128, 128, 0.234);
	font-weight: 600;
	font-size: 14px;
	color: var(--txt-gray);
}
