@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    font-family: ;
}
.contact {
    display: flex;
    justify-content: center;
}
.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 30vw;   
    padding-left: 15px;
    border: 1px solid black;
}

.contact__info-display-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
}
.contact__info-check {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.contact__info-check-text {
    font-weight: 800;
    border: none;
}