.HotelInfoDisplay-ctn {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.HotelInfoDisplay-tabs {
	width: 100%;
	display: flex;
	box-shadow: 3px 3px 6px rgba(14, 14, 14, 0.1);
}

.HotelInfoDisplay-tabs button {
	width: 100%;
	height: 4rem;
	background-color: white;
	color: black;
	box-shadow: 3px 3px 6px rgba(14, 14, 14, 0);
}

.is-active {
	border-bottom: 5px solid var(--red-style);
}


.HotelInfoDisplay-rooms-display {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 2rem;
	box-shadow: 3px 3px 6px rgba(14, 14, 14, 0.1);
}

.HotelInfoDisplay-about-display,
.HotelInfoDisplay-facility-display,
.HotelInfoDisplay-location-display,
.HotelInfoDisplay-reviews-display,
.HotelInfoDisplay-policies-display {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem;
	min-height: 300px;
	box-shadow: 3px 3px 6px rgba(14, 14, 14, 0.1);
}

.HotelInfoDisplay-about-display {
	background-color: rgba(141, 48, 48, 0.366);
}

.HotelInfoDisplay-facility-display {
	background-color: rgba(48, 141, 59, 0.366);
}

.HotelInfoDisplay-location-display {
	background-color: rgba(141, 48, 48, 0.366);
}

.HotelInfoDisplay-reviews-display {
	background-color: rgba(48, 141, 141, 0.366);
}

.HotelInfoDisplay-policies-display {
	background-color: rgba(127, 48, 141, 0.366);
}

.HotelInfoDisplay-ctn img {
	width: 300px;
}

@media (max-width: 720px) {
	.HotelInfoDisplay-tabs{
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.HotelInfoDisplay-tabs button{
		width: 25%;
	}

}