.RoomCard-ctn {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
	box-shadow: 3px 3px 5px rgba(143, 143, 143, 0.2); 
	 /* border-right: 2px solid rgba(143, 143, 143, 0.2);
	border-bottom: 2px solid rgba(143, 143, 143, 0.2);  */
}

.RoomCard-title {
	width: 100%;
	margin-bottom: 0.5rem;
}

.RoomCard-table {
	display: flex;
	align-items: top;
	justify-content: space-between;
}

.RoomCard-table ul {
	margin: 0;
	padding: 0;
}

.RoomCard-table h4 {
	line-height: 0;
}

.RoomCard-table li {
	display: flex;
	text-decoration: none;
	gap: 0.5rem;
	font-size: 13px;
}

.RoomCard-table-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.RoomCard-table-img img {
	max-width: 250px;
}

.RoomCard-table-amenities {
	display: flex;
	align-items: top;
	justify-content: center;
	margin-top: 1rem;
}

.RoomCard-table-inclusion {
	align-items: top;
	justify-content: center;
	margin-top: 1rem;
}

.RoomCard-table-price {
	display: flex;
	flex-direction: column;
	align-items: top;
	justify-content: top;
	text-align: right;
	margin-right: 1rem;
}

.RoomCard-table-price button {
	height: 3rem;
	width: 6rem;
	right: 0;
	margin-top: 1rem;
}

.RC-discount {
	font-size: 16px;
	font-weight: 800;
	text-decoration: line-through;
}

.RC-new-pri {
	font-size: 20px;
	font-weight: 800;
}

@media (max-width: 720px) {
	.RoomCard-ctn h1  {
		text-align: center;
	}

	.RoomCard-table {
		gap: 3rem;
		flex-wrap: wrap;
	}
	.RoomCard-table-img img {
		max-width: 100%;
	}

	.RoomCard-table-price {
		align-items: flex-start;
	}
}
