.RoomCard-ctn {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.RoomCard-title {
	width: 100%;
}

.RoomCard-table {
	display: flex;
	align-items: top;
	justify-content: space-between;
}

.RoomCard-table ul {
	margin: 0;
	padding: 0;
}

.RoomCard-table h4 {
	line-height: 0;
}

.RoomCard-table li {
	display: flex;
	text-decoration: none;
	gap: 0.5rem;
	font-size: 13px;
}

.RoomCard-table-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.RoomCard-table-img img {
	max-width: 250px;
}

.RoomCard-table-amenities {
	display: flex;
	align-items: top;
	justify-content: center;
}

.RoomCard-table-inclusion {
	align-items: top;
	justify-content: center;
}

.RoomCard-table-price {
	display: flex;
	flex-direction: column;
	align-items: top;
	justify-content: top;
	text-align: right;
	margin-right: 1rem;
}

.RoomCard-table-price button {
	height: 3rem;
	width: 6rem;
	right: 0;
	margin-top: 1rem;
}

.RC-discount {
	font-size: 16px;
	font-weight: 800;
	text-decoration: line-through;
}

.RC-new-pri {
	font-size: 20px;
	font-weight: 800;
}

@media (max-width: 720px) {
	.RoomCard-ctn h1  {
		text-align: center;
	}

	.RoomCard-table {
		gap: 3rem;
		flex-wrap: wrap;
	}
	.RoomCard-table-img img {
		max-width: 100%;
	}

	.RoomCard-table-price {

		align-items: start;
	}
}
