.Header-booking {
  width: 100%;
  background-color: gray;
  background-image: url("../../src/assets/Backgrounds/HotelList.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}

.Header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--NavBar-btn);
  background-repeat: no-repeat;
  width: 350px;
  height: 150px;
}

@media (max-width: 376px) {
  .Header-booking {
    padding: 0;
  }

  .Header-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}
