
/*Styles Related to the Person's Info*/

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.travelInfo-container {
        background-color: white;
        padding: 1rem;
        width: 100%;
        box-shadow: 3px 3px 6px rgb(0 0 0 / 10%);
}

.person-info{
    display: flex;
    justify-content: space-between;
}

.name-info, .lastname-info{
    width: 50%;
}

label{
    display: flex;
    flex-direction: column;
}


.coupon-wrapper{
    display: flex;
}

.button-pay{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.email-group,
.coupon-info,
.contact-info,
.request-info {
    margin-top: 10px;
}

#firstname {
    width: 90%;
}

#lastname {
    width: 100%
}

#text-area-form{
    resize: vertical;
}

/*Styles Related to the Hotel Info*/

.container-1 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.booking-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f5f5dc;
    padding: 4rem 10%;
    gap: 5%;
}

.picture-example {
    width: 30%;
}

.edit-option{
    color: red;
    font-weight: 500;
}

.info-container {
        background-color: white;
        padding: 1rem;
        width: 100%;
        box-shadow: 3px 3px 6px rgb(0 0 0 / 10%);
}

.first-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    
}

.second-split-info, .third-container, .fourth-split-info, .fifth-split-info{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.second-container div,
.fourth-container div {
    margin-bottom: -5px;
}

.timestaps{
    margin-top: 0.6rem;
}
.checkout-in {
    margin-top: 10px;
}

.hotel-info {
    padding-left: 5%;
}

.hotel-name {
    margin-bottom: -2px;
}

#first, #second, #third, #fourth, #fifth{
    margin-top: 1rem;
    border-top: 1px solid #ebebeb;
}


/*Styles Related Only to the Card-Info Container*/

.card-info{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

#panel1d-header, #panel2d-header {
    background-color:#e3e3e38d;
}



/*General Styles*/
.btn {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:nth-child(1){
    padding-top:8px;
    padding-bottom:8px
}

.form-control {
    width: 100%;
    border-radius: 0%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

h4{
    margin-top: 0px;
    margin-bottom: 10px;
}

input {
    min-height: 2rem;
    border: 0.0625rem solid #999;
}

/*Error Style*/
.error {
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}


@media (max-width:376px) {

    .booking-info {
        flex-direction: column;
        align-items: center;
        padding: 5% 5%;
    }

    .container-1 {
        padding-right: 0;
        width: 100%;
    }

    .info-container {
        width: 100%;
    }

    .container-2 {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .btn {
        width: 100%;
    }

    .card-info{
        flex-direction: column;
    }
}

