.page404-ctn {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0 1rem 0;
  gap: 2rem;
  background-color: var(--dark-BG);
  color: white;
}

.page404-ctn-title {
  font-size: calc(16vw + 16vh + 8vmin);
  line-height: 0.8;
}
.page404-ctn p {
  font-size: 20px;
}

.page404-ctn-errorbtn {
  padding: 1rem 2rem;
  border-radius: 1rem;
}
