.SignupHeader-container {
  width: 100%;
  background-color: gray;
  background-image: url("../../assets/Backgrounds/HotelList.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}

.SignupHeader-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--NavBar-btn);
  background-repeat: no-repeat;
  width: 350px;
  height: 150px;
}

@media (max-width: 376px) {
  .SignupHeader-container {
    padding: 0;
  }
  .SignupHeader-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}
