.signup-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 242, 232, 0.752);
  padding: 5rem 0;
}

.signup-main-container h1 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.signup-main-container p {
  font-size: 14px;
}

.signup-card {
  display: flex;
  width: 90%;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem;
  gap: 1rem;
}

.goto-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.goto-social button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: white;
  color: rgba(24, 111, 251, 255);
  height: 3rem;
  gap: 0.5rem;
  font-size: 16px;
}

.goto-social button:hover {
  background-color: rgb(244, 244, 244);
}

.goto-social img {
  width: 1.25rem;
}

.social-distancing {
  margin: 1rem 0;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-distancing p {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  font-size: 14px;
}

.social-distancing-line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.197);
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.signup__form label {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

.signup__form input {
  height: 2rem;
  border-radius: 0;
  border: 2px solid rgba(128, 128, 128, 0.234);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.createAcc-btn {
  font-weight: 700;
  border-bottom: none;
  height: 3rem;
}

.loginBtn {
  color: var(--red-style);
  border: 2px solid var(--red-style);
  background-color: transparent;
  height: 3rem;
}

.loginBtn:hover {
  background-color: #ef3f3f5a;
  color: white;
  background-color: var(--red-style);
}

.error{
  margin-top: -25px;
  padding-bottom: 1.2rem;
}

@media (max-width: 720px) {
  .signup-main-container {
    padding: 2rem 0;
  }

  .signup__form input{
    margin-bottom: 0.5rem;
  }
  .createAcc-btn{
  margin-top: 1rem;
  }
}
