.AboutUs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--Main-BG);
}

.AboutUs-card {
	margin: 4rem 0;
	width: 100%;
	display: flex;
	width: 80%;
	gap: 2rem;
}

.AboutUs-brief {
	padding: 2rem 2rem 3rem 3rem;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: white;
	box-shadow: 5px 5px 10px rgba(13, 13, 13, 0.2);
}

.AboutUs-card h1 {
	padding-left: 0;
	padding-top: 2rem;
	color: var(--red-style);
}

.AboutUs-brief p {
	padding: 0.5rem 2rem 0rem 2rem;
	color: var(--dark-BG);
}

.AboutUs-brief li {
	margin-left: 3rem;
	padding: 0rem 2rem 0rem 0rem;
	color: var(--dark-BG);
}

.AboutUs-developers {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: white;
	box-shadow: 5px 5px 10px rgba(13, 13, 13, 0.2);
}

.developers-title {
	justify-content: center;
}

.developers-title h1 {
	text-align: center;
	margin: 0;
	padding: 0;
}

@media (max-width: 720px) {
	.AboutUs-container {
		padding: 2rem 0;
	}
	.AboutUs-card {
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
	}
	.AboutUs-devs {
		width: 90%;
	}
}
