.card-base {
  width: 250px;
  height: 250px;
  color: rgb(0, 247, 255);
}

.card-base:hover .developers-card-ctn {
  width: 700px;
  transition: width 0.5s ease-in-out;
}
.card-base:hover .member-info-ctn {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.card-base:hover .info-ctn-code-line {
  opacity: 1;
}

.info-ctn-code-line:nth-child(1) {
  transition-delay: 0.5s;
}
.info-ctn-code-line:nth-child(2) {
  transition-delay: 0.55s;
}
.info-ctn-code-line:nth-child(3) {
  transition-delay: 0.6s;
}
.info-ctn-code-line:nth-child(4) {
  transition-delay: 0.65s;
}
.info-ctn-code-line:nth-child(5) {
  transition-delay: 0.7s;
}
.info-ctn-code-line:nth-child(6) {
  transition-delay: 0.75s;
}
.info-ctn-code-line:nth-child(7) {
  transition-delay: 0.8s;
}
.info-ctn-code-line:nth-child(8) {
  transition-delay: 0.85s;
}
.info-ctn-code-line:nth-child(9) {
  transition-delay: 0.9s;
}
.info-ctn-code-line:nth-child(10) {
  transition-delay: 0.95s;
}
.info-ctn-code-line:nth-child(11) {
  transition-delay: 1s;
}

.developers-card-ctn {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.2);
  display: flex;
  justify-content: left;
  align-items: center;
  float: right;
  transition: width 0.5s ease-in-out;
  background-color: rgb(3, 9, 48);
  overflow: hidden;
}

.developers-card-ctn p {
  display: flex;
  font-family: Consolas, "Lucida Console", monospace;
  font-weight: 600;
}

.member-img-ctn {
  margin: 0;
  display: flex;
  min-width: 250px;
  height: 100%;
  max-height: 250px;
  max-width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

   background: radial-gradient(
    rgb(31, 96, 131),
    rgb(28, 54, 78),
    rgb(16, 16, 47)
  ); 
  background-size: 200% 200%;
  white-space: nowrap;
  animation: background-pan 10s ease-in-out infinite;
}

@keyframes background-pan {
  0% {
    background-position: bottom left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: bottom left;
  }
}

.member-profile-pic {
  width: 150px;
  border-radius: 50%;
  animation: background-pan 10s ease-in-out infinite;
  box-shadow: 0px 20px 20px rgba(1, 1, 1, 0.5);
}

.member-info-ctn {
  width: 0%;
  height: 100%;
  background-color: rgb(3, 9, 48);
  display: flex;
  flex-direction: column;
}

.info-ctn-code {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.info-ctn-code-line {
  max-height: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid rgba(56, 164, 218, 0.1);
  opacity: 0;
  transition: opacity 0.5s;
}

.info-ctn-code-line span {
  padding-left: 5px;
}

.line-n {
  text-align: right;
  padding-right: 3px;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 1.5rem;
  min-height: 1.5rem;
  border-right: 1px solid rgba(56, 164, 218, 0.2);
  opacity: 0.5;
}
.code-indentation {
  color: transparent;
}

@media (max-width: 720px) {
  .card-base {
    width: 100%;
  }

  .developers-card-ctn {
    flex-direction: column;
    width: 100%;
  }
  .member-img-ctn {
    max-width: 100%;
  }

  .card-base:hover .developers-card-ctn {
    width: 100%;
    height: 200%;
    transform: translateX(0px);
    z-index: 3;
  }
  .info-ctn-code p {
    font-size: 12px;
  }
}
